node_modules/
.DS_Store
Thumbs.db
*.log
*.pptx
*.zip
AMR ADEL/Nextones.mp4
Websites Demos Vedios/DR Neven/د. نيڤين درغام _ أستاذ الأمراض الجلدية واستشاري التجميل والليزر - Screencastify - May 12, 2026 8_52 PM.mp4
Websites Demos Vedios/Finding Perfect/Finding Perfect.mp4
Websites Demos Vedios/FreshCart Ecommerce/FreshCart Ecommerce.mp4
Websites Demos Vedios/Mealora/Mealora.mp4
Websites Demos Vedios/MemberDesk Pro Web/MemberDesk Pro Web.mp4
Websites Demos Vedios/Mohandseen/Mohandseen.mp4
Websites Demos Vedios/PuppyHub/PuppyHub.mp4
Websites Demos Vedios/Roamly/Roamly.mp4
Websites Demos Vedios/Savora Food/SavoraFood.mp4
Websites Demos Vedios/Savora Food/Savora_Food_Demo.mp4
Websites Demos Vedios/Skills School/Skills School.mp4
Websites Demos Vedios/Tashtip/Tashtip.mp4
Websites Demos Vedios/Tekton/Tekton01.mp4
Websites Demos Vedios/Tekton/Tekton02(AdminDashboard).mp4
Websites Demos Vedios/Velora Automative Demo/Velora Automative.mp4
Websites Demos Vedios/Velora Automative Demo/Velora_Automotive_Demo.mp4
